body{background-color: #ffffff};
.arroz {width: 80%;}

div {text-align: center;}
.estudante-div {text-align: center;}
.estudante-titulo {text-align: center;}
.estudante-imagem {width: 120px; text-align: center;margin: auto;}
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: #2b77f3;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}