:root {
  --cor-primaria-botao: rgb(14, 212, 186);
  --cor-secundária-botao: rgb(17, 24, 0);
  --cor-hover-botao: rgb(255, 0, 106);
}


html, body {
    background-color: bisque;
    height: 100%;
    
   
  margin: 0;
  }
  .container-body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
  }
  nav{
    display: flex;
    flex-direction: column;
  }


main{
    flex: 1 1 0;
    background-color: #be9f9f;
    padding: 50px;
    
}
h1{
position: relative;
text-align: center;
}


footer {
    background-color: #da4646;
    padding: 30px;
    text-align: top;
    padding: 50px;
}
.container-rodape {
  display: flex;
 
}
.texto-rodape{
  flex: 1;
}

.botao {
  
  border: 2px solid #000000;
  padding: 15px;
  margin: 10px;
  cursor: pointer;
  transition: background 0.3;
  text-decoration: none;
  transition-timing-function: cubic-bezier(.15, .89, .85, .26);
  transition-property: border-radius, background-color;
  transition-duration: 2s, 2s;
  width: 80px;
  
 
}
.botao1 {
  background-color: var(--cor-primaria-botao);
  color: var(--cor-secundária-botao);
  

}

.botao1:hover {
  background-color: var(--cor-hover-botao);
  border-radius: 25px;
}

.botao1:active {
  color: var(--cor-primaria-botao);
  background-color: var(--cor-secundária-botao);
}


.texto-botao{
  display: flex;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  position: relative;
  top: -60px;
  left: 50px;
}

.titulo-botao{
      display: flex;

}
.botao-arrumar{
    display: flex;
     position: relative;
     left: -365px;
  }
 .container-formulario{
  display: flex;
  flex-direction: column;
 }
ul{
  display: flex;
  list-style-type: none;
  position: relative;
  top: -20px;
  left: -40px;
}

.formulario{
  position: relative;
  padding: 10px;

}
input{
  border-radius: 10px;
}
input[type=name]{
  padding: 10px;
  width: 295px;
}

input[type=email]{
  padding: 10px;
  width: 295px;
}

textarea[name=assunto]{
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 15px;
  width: 285px;
  
}
label{
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  color: #251d1d;
}
button[type=submit]{
  display: flex;
  padding: 10px;
  margin: 30px;
  position: relative;
  left: -30px;
  background-color: #8eabfa;
}
button[type=submit]:hover{
background-color: #b5c5f3;
cursor: pointer;
}

.ajuda-opcional{
  display: flex;
  position: relative;
  left: 330px;
  top: -110px;
  }
  .ajuda{
    display: flex;
    color: #000000;
  }
  .seta{
    background-color: transparent;
  }