:root {
  --cor-primaria-botao: rgb(233, 79, 79);
  --cor-secundária-botao: rgb(17, 24, 0);
  --cor-hover-botao: rgb(253, 176, 182);
}


html, body {
    background-color: #ffffff;
    height: 100%;
    
   
  margin: 0;
  }
  .container-body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.76);
  }
  nav{
    display: flex;
    flex-direction: column;
  }


main {
  display: flex;
  flex-direction: column;
  text-align: center;
    background-color: #2078dd;
    padding: 50px;
   
    
}
h1{
position: relative;
text-align: center;
top: -20px;
font-size: 30px;
}
nav img{
  width: 50px;
  display: flex;
  position: relative;
  left:290px;
  top: -80px;
}


footer {
    background-color: #ffffff;
    padding: 70px;
}

.container-rodape {
  display: flex;
 
}
.texto-rodape{
  flex: 1;
}
footer img{
  background-color: transparent;
  width: 50%;
}

.botao {
  
  border: 2px solid #000000;
  padding: 15px;
  margin: 10px;
  cursor: pointer;
  transition: background 0.3;
  text-decoration: none;
  transition-timing-function: cubic-bezier(.15, .89, .85, .26);
  transition-property: border-radius, background-color;
  transition-duration: 2s, 2s;
  width: 80px;
  
 
}
.botao1 {
  background-color: var(--cor-primaria-botao);
  color: var(--cor-secundária-botao);
  

}

.botao1:hover {
  background-color: var(--cor-hover-botao);
  border-radius: 25px;
}

.botao1:active {
  color: var(--cor-primaria-botao);
  background-color: var(--cor-secundária-botao);
}


.texto-botao{
  display: flex;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  position: relative;
  top: -50px;
  left: 770px;
}

.titulo-botao{
      display: flex;

}
.botao-arrumar{
    display: flex;
     position: relative;
     left: 390px;
  }
 .container-formulario{
  display: flex;
  flex-direction: column;
 }
ul{
  display: flex;
  list-style-type: none;
  align-items: center;
  flex-direction: column;
  
 
}

.formulario{
  padding: 10px;
   
}
input{
  border-radius: 10px;
}
input[type=name]{
  padding: 10px;
  width: 295px;
 
}

input[type=email]{
  padding: 10px;
  width: 295px;
}

textarea[name=assunto]{
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 15px;
  width: 285px;
  
}
label{
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  color: #251d1d;
  display: flex;
  justify-content: center;
}
main button{
  display: flex;
  position: relative;
  left: 712px;
}
button[type=submit]{
  display: flex;
  padding: 10px;
  margin: 30px;
  background-color: #8eabfa;
}
button[type=submit]:hover{
background-color: #b5c5f3;
cursor: pointer;
}

.ajuda-opcional{
  display: flex;
  position: relative;
  left: 1030px;
  top: -125px;
  }
  .ajuda{
    display: flex;
    color: #000000;
  }
  .seta{
    background-color: transparent;
  }
  .box{
    background-color: red;
    width: 100px;
    height: 100px;
    display: flex;
    position: relative;
    top: -300px;
    border: 2px solid #251d1d;
  }
  .box:hover{
    background-color: aqua;
    border-radius: 50%;
    cursor: grab;
  }
  .box:active{
    background-color: #02ff24;
    border: 4px solid #000c30;
    rotate: 45deg;
    border-radius: 0%;
  }
  .box ul{
    color: #0de756;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: -33px;
  }


  <!-- estudantes aba>

  #estudantes {
    background-color: #0f55eb;
    padding: 200px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  
  .grid-item {
    text-align: center;
  }
  
  .grid-item img {
    width: 70%;
    border-radius: 50%;
    border: 5px solid #6410a8;
    
  }
  .grid-item img:hover {
    transition: width 0,3s , border 0,3s;
    width: 80%;
    border: 5px solid #4b0a81;
    
  }

  .grid-item h3 {
    margin: 15px;
    font-size: 20px;
  }
  
  .grid-item p {
    margin: 15px;
    font-size: 14px;
  }