body{background-color: #ffffff};
.arroz {width: 80%;}

div {text-align: center;}
.estudante-div {text-align: center;}
.estudante-titulo {text-align: center;}
.estudante-imagem {width: 120px; text-align: center;margin: auto;}
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: #4c4c4d;
    color: white;
    display: flex;
    justify-content: 29;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.rodape{
    background-color: black;
    text-align: center;
}

.rodape-imagem{
    width: 120px;
    height: 120px;
    padding: 15px 0;
   
}
